<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
        <servlet>
                <servlet-name>Divel_Apps</servlet-name>
                <servlet-class>com.divel.online.apps.Divel_AppsServlet</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>Divel_Key</servlet-name>
            <servlet-class>com.divel.online.apps.Divel_KeyServlet</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>Sudoku</servlet-name>
            <servlet-class>com.divel.online.apps.Sudoku</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>Manifest_Sudoku</servlet-name>
            <servlet-class>com.divel.online.apps.Manifest_Sudoku</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>ReSudoku</servlet-name>
            <servlet-class>com.divel.online.apps.ReSudoku</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>ProcSudoku</servlet-name>
            <servlet-class>com.divel.online.apps.ProcSudoku</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>Licencias</servlet-name>
            <servlet-class>com.divel.online.apps.Licencias</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>TrolaAPI</servlet-name>
            <servlet-class>com.divel.online.apps.Trola</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>Manifest_Social_Share</servlet-name>
            <servlet-class>com.divel.online.apps.Manifest_Social_Share</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>FeedAtom</servlet-name>
            <servlet-class>com.divel.online.apps.NewsAtom</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>Redirecter</servlet-name>
            <servlet-class>com.divel.online.apps.Redirecter</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>DivelUpdater</servlet-name>
            <servlet-class>com.divel.online.apps.DivelUpdater</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>MasterKey</servlet-name>
            <servlet-class>com.divel.online.apps.MasterKey</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>DivelFeedback</servlet-name>
            <servlet-class>com.divel.online.apps.DivelFeedback</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>DivelAccounts</servlet-name>
            <servlet-class>com.divel.online.apps.DivelAccounts</servlet-class>
        </servlet>
       
        <servlet-mapping>
            <servlet-name>Divel_Key</servlet-name>
            <url-pattern>/divel_key</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
                <servlet-name>Divel_Apps</servlet-name>
                <url-pattern>/divel_apps</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>Sudoku</servlet-name>
            <url-pattern>/sudoku/sudoku</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>ReSudoku</servlet-name>
            <url-pattern>/sudoku</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>FeedAtom</servlet-name>
            <url-pattern>/feed</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>Redirecter</servlet-name>
            <url-pattern>/redirecter</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>MasterKey</servlet-name>
            <url-pattern>/masterkey</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>DivelFeedback</servlet-name>
            <url-pattern>/feedback</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>DivelUpdater</servlet-name>
            <url-pattern>/updater</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>ProcSudoku</servlet-name>
            <url-pattern>/sudoku/procsudoku</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>Manifest_Sudoku</servlet-name>
            <url-pattern>/sudoku/manifest.webapp</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>Licencias</servlet-name>
            <url-pattern>/licencias</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>TrolaAPI</servlet-name>
            <url-pattern>/trolaapi</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>Manifest_Social_Share</servlet-name>
            <url-pattern>/socialshare.webapp</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>DivelAccounts</servlet-name>
            <url-pattern>/divaccounts</url-pattern>
        </servlet-mapping>
        <welcome-file-list>
                <welcome-file>index.html</welcome-file>
        </welcome-file-list>
        <mime-mapping>
            <extension>webapp</extension>
            <mime-type>application/x-web-app-manifest+json</mime-type>
        </mime-mapping>
        <error-page>
        <error-code>500</error-code>
        <location>/DivAccountState.jsp</location>
    </error-page>
</web-app>

